[client]
port = {{ rhel_port }}, {{ rhel_socket }}, {{ rhel_pid_file }}
socket = {{ rhel_socket }}
[rheld]
port = {{ rhel_port }}
datadir = {{ rhel_data_dir }}
socket = {{ rhel_socket }}
pid-file = {{ rhel_pid_file }}
